*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 35px 0;
    font-size: 40px;
}

body {
    font-family: sans-serif;
    padding-bottom: 100px;
}

.container-faq {
    width: 100%;
    max-width: 900px;
    min-width: 300px;
    height: auto;
    padding: 0 20px;
    margin: 10px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.questions {
    width: 100%;
    height: auto;
    margin: 5px;
    cursor: pointer;
}

.visible-pannel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f1f1f1;
    border-radius: 10px;
    position: relative;
    padding: 15px 5px;
}

.visible-pannel h2 {
    margin-left: 10px;
    font-size: 25px;
    pointer-events: none;
}

.visible-pannel img {
    margin-right: 10px;
    width: 25px;
    cursor: pointer;
    pointer-events: none;
}
.toggle-pannel {
    padding: 0px 15px;
    height: 0px;
    opacity: 0;
}
.toggle-pannel h4 {
    font-size: 18px;
    padding-bottom: 10px;
}
.toggle-pannel p {
    line-height: 1.5;
}

