 *, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #222;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  position: relative;
  width: 600px;
  min-height: 350px;
  background: #fff;
  margin: 100px auto 0;
}

.bloc-tabs  {
  display: flex;
}
.tabs {
  padding: 20px;
  font-size: 25px;
  text-align: center;
  flex-grow: 1;
  background: rgb(223,223,223);
  cursor: pointer;
  border: none;
  border-bottom: 1px solid rgb(153,153,153);
  border-top: 5px solid transparent;
  position: relative;
  outline: none;
  font-family: Montserrat;
}

.tabs:not(:last-child){
  border-right: 1px solid rgba(0,0,0, 0.25)
}
.active-tabs {
  background: white;
  border-bottom: 1px solid transparent;
  border-top-color: #2574f1;
}

.content-tabs {
  font-family: Roboto;
}
.content {
  padding: 20px;
  display: none;
}
.content h2 {
  padding: 0 0 5px 0;
  font-size: 25px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}

.content p {
  padding-top: 10px;
  line-height: 1.5;
}
.active-content {
  display: block;
}